%header.clearfix
  %div.header
    %h4.group
      sampleグループ
    %ul.member
      %h5 Member :
      %li メンバー1
      %li メンバー2
  %div.header-left
    アカウント名
%div.contents
  %div.left-content
    group名
  %div.contents-main
    main-text
    %footer.footer
      入力画面
