%header
  .header
    .groupa
      .group
        sampleグループ
      .edit-link
        =link_to 'Edit', root_path
    %ul.member
      %h5 Member :
      %li メンバー1
      %li メンバー2
  .header-left
    アカウント名
    = link_to root_path do
      %i.fa.fa-cog
    = link_to root_path do
      %i.fa.fa-edit

.contents
  .left-content
    .group__name
      グループ名
    .group__text
      まだメッセージはありません。
  .contents-main
    .user__name
      ユーザーネーム
    .time
      2018/05/03 14:26
    .message
      テキスト
    %footer.footer
      %input.input{placeholder: "type a message"}
      %label{for: "img-upload"}
        %i.fa.fa-image
      %input#img-upload.img-upload{type: 'file'}
      %button.send-button{type: 'submit'} SEND
