%header
  .header
    .chat__group
      sampleグループ
    .chat__group__edit-link
      =link_to 'Edit', root_path
    %ul.chat__group__member
      %h5 Member :
      %li メンバー1
      %li メンバー2
  .account
    = render partial: 'shared/side-header'

.contents
  .group
    .group__name
      = render partial: "shared/side-content"

  .chat__messages
    .chat-main
      = render partial: 'message', collection: @messages

    .form
      = render partial: 'shared/form'

