%header
  .header
    %h4.group
      sampleグループ
    %ul.member
      %h5 Member :
      %li メンバー1
      %li メンバー2
  .header-left
    アカウント名

.contents
  .left-content
    .group__name
      グループ名
    .group__text
      まだメッセージはありません。
  .contents-main
    .user__name
      ユーザーネーム
    .message
      テキスト
    %footer.footer
      %input.input
