// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$white: white;
$skyblue: #38AEF0;
$navy: #434A54;
header{
  height: 120px;
  width: 100%;
  .header{
    height: 120px;
    background-color: $white;
    color: $white;
    width: calc(100% - 380px);
    float: right;
    padding:0 40px;
    border-bottom: 2px #eee solid;
      .group{
        color: $navy;
        margin-top: 35px;
        font-size: 20px;
        float: left;
      }
      .member{
        color: $navy;
        font-size: 12px;
        float: left;
        clear: both;
        h5{
          float: left;
        }
        li{
          float: left;
        }
      }
      .edit-link{
        color: $skyblue;
        padding: 12.5px 20px;
        border: 2px solid $skyblue;
        float: right;
        font-weight: bold;
        margin-top: 28px;
        a{
          text-decoration: none;
          color: $skyblue;
        }
      }
  }
  .header-left{
    height: 120px;
    width: 260px;
    background-color: #253141;
    color: $white;
    font-size: 16px;
    float: left;
    line-height: 120px;
    padding: 0 20px;
    .fa{
      color: $white;
      float: right;
      line-height: 120px;
      padding-left: 10px;
    }
  }
}

.contents {
  background-color: #AAA;
  color: $white;
  height: calc(100vh - 120px);
  width: 100%;
  .left-content {
    background-color: #2f3e51;
    height: 100%;
    width: 260px;
    padding: 0 20px;
    float: left;
    .group__name{
      margin-top: 20px;
      font-size: 15px;
    }
    .group__text{
      margin-top: 5px;
      font-size: 11px;
    }
  }
  .contents-main {
    background-color: #f5f5f5;
    height: calc(100% - 46px);
    width: calc(100% - 300px);
    padding-top: 46px;
    float: right;
    position: relative;
    .user__name{
      color: $navy;
      display: inline;
      font-size: 16px;
      margin: 0 40px;
      float: left;
    }
    .time{
      font-size: 10px;
      float: left;
      color: #aaa;
    }
    .message{
      color: $navy;
      padding-top: 10px;
      font-size: 14px;
      margin: 0 40px;
      clear: both;
    }
  }
  .footer {
    background-color: #ddd;
    color: black;
    height: 50px;
    width: calc(100% - 80px);
    position: absolute;
    bottom: 0;
    padding: 20px 40px;
    .input{
      height: 50px;
      width: calc(100% - 110px);
      padding-left: 10px;
      font-size: 16px;
      position: relative;
    }
    label{
      .fa-image{
        position: absolute;
        right: 150px;
        bottom: 35px;
      }
    }
    .img-upload{
    display: none;
    }
    button{
      color: $white;
    }
    .send-button{
      color: $white;
      background-color: $skyblue;
      padding: 12.5px 20px;
      border: 2px solid $skyblue;
      float: right;
      font-size: 16px;
      height: 54px;
      a{
        text-decoration: none;
        color: $skyblue;
      }
    }
  }
}

