// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.clearfix{
  content: '';
  display: block;
  clear: both;
}
header{
  height: 120px;
  width: 100%;
  .header{
    height: 120px;
    background-color: $white;
    color: $white;
    width: calc(100% - 380px);
    float: right;
    padding:0 40px;
    border-bottom: 2px #eee solid;
      .chat__group{
        color: $navy;
        margin-top: 35px;
        font-size: 20px;
        float: left;
      }
      .chat__group__member{
        color: $navy;
        font-size: 12px;
        float: left;
        clear: both;
        h5{
          float: left;
        }
        li{
          float: left;
        }
      }
      .chat__group__edit-link{
        color: $skyblue;
        padding: 12.5px 20px;
        border: 2px solid $skyblue;
        float: right;
        font-weight: bold;
        margin-top: 28px;
        a{
          text-decoration: none;
          color: $skyblue;
        }
      }
  }
  .account{
    height: 120px;
    width: 260px;
    background-color: #253141;
    color: $white;
    font-size: 16px;
    float: left;
    line-height: 120px;
    padding: 0 20px;
    .fa{
      color: $white;
      float: right;
      line-height: 120px;
      padding-left: 10px;
    }
  }
}

.contents {
  background-color: $white;
  color: $white;
  height: calc(100vh - 120px);
  width: 100%;
  .group {
    background-color: #2f3e51;
    height: 100%;
    width: 260px;
    padding: 0 20px;
    float: left;
    .group__name{
      margin-top: 20px;
      font-size: 15px;
      a{
        text-decoration: none;
        color: $white;
      }
    }
    .group__message{
      margin-top: 5px;
      font-size: 11px;
      a{
        text-decoration: none;
        color: $white;
      }
    }
  }
  .chat__messages {
    height: calc(100% - 2px);
    width: calc(100% - 300px);
    background-color: #f5f5f5;
    float: right;
    .chat-main{
      height: calc(100% - 134px);
      width: calc(100% - 80px);
      position: relative;
      overflow: scroll;
      margin: 20px 40px 24px 40px;
      .message{
        .upper-message__user-name{
          color: $navy;
          display: inline;
          font-size: 16px;
          padding-top: 16px;
          float: left;
        }
        .upper-message__date{
          font-size: 10px;
          padding-top: 21px;
          float: left;
          color: #aaa;
        }
        .lower-message__content{
          color: $navy;
          padding-top: 10px;
          font-size: 14px;
          margin: 0 40px;
          clear: both;
        }
      }
    }
  }
  .form {
    background-color: #ddd;
    color: black;
    height: 50px;
    width: calc(100% - 380px);
    position: absolute;
    bottom: 0;
    padding: 20px 40px;
    position: fixed;
    float: right;
    .form__message{
      height: 50px;
      width: calc(100% - 110px);
      padding-left: 10px;
      font-size: 16px;
      position: relative;
      float: left;
    }
    .form__mask{
      .form__mask__image{
        .icon{
          position: absolute;
          right: 150px;
          bottom: 35px;
        }
        .hidden{
        display: none;
        }
      }
      .form__submit{
      color: $white;
      width: 80px;
      background-color: $skyblue;
      padding: 12.5px 20px;
      border: 2px solid $skyblue;
      float: right;
      font-size: 16px;
      height: 54px;
        a{
          text-decoration: none;
          color: $skyblue;
        }
      }
    }
  }
}

